h1{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: sans-serif;
    
}

section h2{
    text-align: center;
    margin: 77px;
    font-size: 26px;
}
section p{
    text-align: center;
    margin: -157px 0px 0px 0px;
    font-size: 19px;
}
footer{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}
select{
    margin: 20px auto;
    font-size: 20px;
    background-color: aqua;
    color: rgba(128, 0, 0, 0.651);
    padding: 5px;
    border: 1px solid rgb(154, 156, 33);
    border-radius: 5px;
}
section img {
    height: 230px;
    width: 205px;
    margin: 55px 0px 0px 0px;
}
